-
  spine.abilities = {
    strength: ['athletics','heavy attack','unarmed attack'],
    dexterity:['locks & traps','ranged attack','sleight of hand'],
    agility: ['acrobatics','finesse attack','stealth'],
    awareness: ['navigation','perception','tracking'],
    intellect: ['investigation','reason & logic','study & write'],
    wisdom: ['animal ken','healing','survival'],
    heart: ['empathy','insight','persuasion'],
    mystique: ['charm','deception','performance'],
    presence:['connect','intimidation','leadership']
  };